@inherits UmbracoTemplatePage
@{
    var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "HomePage");
    if (homePage != null && homePage.Id > 0)
        {
        var serviceLandingPage = homePage.Descendants("servicesLanding").FirstOrDefault();
        if (serviceLandingPage != null && serviceLandingPage.Id > 0)
            {
            var servicesTitle = serviceLandingPage.Name;
            if (serviceLandingPage.HasProperty("linkTittle") && serviceLandingPage.HasValue("linkTittle"))
                {
                servicesTitle = serviceLandingPage.GetPropertyValue("linkTittle").ToString();
                }

            var servicesPages = serviceLandingPage.Descendants("servicePage").Where(servicesPage => servicesPage.IsVisible()).ToList();
            <section id="services" class="segment services-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <div class="main-heading">
                                    <span>@servicesTitle</span>
                                    <span class=" right-btn"><a href="@serviceLandingPage.Url" tittle="@servicesTitle">View All Services</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (servicesPages.Any())
                        {
                        foreach (var servicesPagesRow in servicesPages.InGroupsOf(3))
                            {
                            <div class="row">
                                @foreach (var servicePage in servicesPagesRow)
                                    {
                                    var servicePageTitle = servicePage.Name;
                                    if (servicePage.HasProperty("linkTittle") && servicePage.HasValue("linkTittle"))
                                        {
                                        servicePageTitle = servicePage.GetPropertyValue("linkTittle").ToString();
                                        }

                                    var pageIcon = "file-text";
                                    if (servicePage.HasProperty("pageIcon") && servicePage.HasValue("pageIcon"))
                                        {
                                        pageIcon = servicePage.GetPropertyValue("pageIcon").ToString();
                                        }

                                    <div class="col-sm-4">
                                        <div class="service-box wow animated fadeInLeft">
                                            <a href="@servicePage.Url" tittle="@servicePageTitle">
                                                <i class="fa fa-@pageIcon"></i>
                                                <h4>@servicePageTitle</h4>
                                            </a>
                                            @if (servicePage.HasProperty("bodyText") && servicePage.HasValue("bodyText"))
                                                {
                                                var bodyText = servicePage.GetPropertyValue("bodyText").ToString();
                                                var nonHtmlText = Umbraco.StripHtml(bodyText);
                                                var displayText = Umbraco.Truncate(nonHtmlText, 150);
                                                <p>
                                                    @displayText
                                                </p>
                                                }
                                            <a href="@servicePage.Url" tittle="@servicePageTitle" class="btn btn-theme-bg">
                                                @servicePageTitle
                                            </a>
                                        </div>
                                    </div>
                                    }
                            </div>
                            <div class="space-10"></div>
                            }
                        }

                </div>
            </section>
            }
        }

}