@inherits UmbracoTemplatePage
@{
    var siteDefaultName = "JMN Communications ";
    var logoImageUrl = "/Images/JMN-Communications-Logo.png";
    var siteSetting = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "GlobalSettings");

    if (siteSetting != null && siteSetting.Id > 0 && siteSetting.Descendants("SiteDetails").Any())
        {
        var siteDetailsPage = siteSetting.Descendants("SiteDetails").FirstOrDefault();
        if (siteDetailsPage != null && siteDetailsPage.Id > 0)
            {
            if (siteDetailsPage.HasProperty("siteName") && siteDetailsPage.HasValue("siteName"))
                {
                siteDefaultName = siteDetailsPage.GetPropertyValue("siteName").ToString();
                }
            if (siteDetailsPage.HasProperty("mainHeaderLogo") && siteDetailsPage.HasValue("mainHeaderLogo"))
                {
                var mediaItem = Umbraco.TypedMedia(siteDetailsPage.GetPropertyValue("mainHeaderLogo").ToString());
                if (mediaItem != null && mediaItem.Id > 0)
                    {
                    logoImageUrl = !string.IsNullOrEmpty(mediaItem.GetCropUrl("Logo")) ? mediaItem.GetCropUrl("Logo") : mediaItem.GetCropUrl(200, 100);
                    }
                }
            }

        var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "HomePage");

        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/" title="@siteDefaultName">
                                <img src="@logoImageUrl" alt="@siteDefaultName" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="navbar-collapse collapse">
                            @if (siteDetailsPage != null && siteDetailsPage.Id > 0)
                                {
                                <div class="headerTopLinks clearfix">
                                    <ul class="list-inline pull-right">
                                        @if (siteDetailsPage.HasProperty("siteEmailAddress") && siteDetailsPage.HasValue("siteEmailAddress"))
                                            {
                                            var siteEmailAddress = siteDetailsPage.GetPropertyValue("siteEmailAddress").ToString();
                                            <li>
                                                <a href="mailto:@siteEmailAddress" title="@siteDefaultName">
                                                    <i class="fa fa-envelope"></i>
                                                    @siteEmailAddress
                                                </a>
                                            </li>
                                            }

                                        @if (siteDetailsPage.HasProperty("sitePhoneNumber") && siteDetailsPage.HasValue("sitePhoneNumber"))
                                            {
                                            var sitePhoneNumber = siteDetailsPage.GetPropertyValue("sitePhoneNumber").ToString();
                                            <li>
                                                <a href="/">
                                                    <i class="fa fa-phone"></i>
                                                    @sitePhoneNumber
                                                </a>
                                            </li>
                                            }

                                        @if (siteDetailsPage.HasProperty("facebookPage") && siteDetailsPage.HasValue("facebookPage"))
                                            {
                                            var siteFacebookPage = siteDetailsPage.GetPropertyValue("facebookPage").ToString();
                                            <li>
                                                <a href="@siteFacebookPage" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                    Facebook
                                                </a>
                                            </li>
                                            }
                                    </ul>
                                </div>
                                }

                            @if (homePage != null && homePage.Id > 0)
                                {
                                var homeTitle = homePage.Name;
                                if (homePage.HasProperty("linkTittle") && homePage.HasValue("linkTittle"))
                                    {
                                    homeTitle = homePage.GetPropertyValue("linkTittle").ToString();
                                    }
                                <div class="headerBottomLinks clearfix">
                                    <ul class="nav navbar-nav scrollto navbar-right">
                                        <li @(homePage.Id == Model.Content.Id ? "class=active" : null)>
                                            <a href="/" title="@homeTitle - @siteDefaultName">
                                                @homeTitle
                                            </a>
                                        </li>

                                        @if (homePage.Children.Any())
                                            {
                                            foreach (var landingPage in homePage.Children.Where(childPage => childPage.IsVisible() && !childPage.GetPropertyValue<bool>("hideFromMenu")))
                                                {
                                                var pageTitle = landingPage.Name;
                                                if (landingPage.HasProperty("linkTittle") && landingPage.HasValue("linkTittle"))
                                                    {
                                                    pageTitle = landingPage.GetPropertyValue("linkTittle").ToString();
                                                    }
                                                var hasChildren = landingPage.Children.Any(childPage => childPage.IsVisible() && !childPage.GetPropertyValue<bool>("hideFromMenu"));
                                                if (!hasChildren)
                                                    {
                                                    <li @(landingPage.Id == Model.Content.Id ? "class=active" : Model.Content.AncestorOrSelf(2).Id == landingPage.Id ? "class=active" : null)>
                                                        <a href="@landingPage.Url" title="@pageTitle - @siteDefaultName">
                                                            @pageTitle
                                                        </a>
                                                    </li>
                                                    }
                                                else
                                                    {
                                                    <li @(landingPage.Id == Model.Content.Id ? "class=active dropdown" : Model.Content.AncestorOrSelf(2).Id == landingPage.Id ? "class=active dropdown" : "class=dropdown") >
                                                        <a href="@landingPage.Url" title="@pageTitle - @siteDefaultName" class="dropdown-toggle js-activated" data-toggle="dropdown">
                                                            @pageTitle <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li @(landingPage.Id == Model.Content.Id ? "class=active" :  null)>
                                                                <a href="@landingPage.Url" title="@pageTitle - @siteDefaultName">
                                                                    @pageTitle
                                                                </a>
                                                            </li>
                                                            @foreach (var childPage in landingPage.Children.Where(childPage => childPage.IsVisible() && !childPage.GetPropertyValue<bool>("hideFromMenu")))
                                                            {
                                                                var childPageTitle = childPage.Name;
                                                                if (childPage.HasProperty("linkTittle") && childPage.HasValue("linkTittle"))
                                                                {
                                                                    childPageTitle = childPage.GetPropertyValue("linkTittle").ToString();
                                                                }
                                                                <li @(childPage.Id == Model.Content.Id ? "class=active" : null)>
                                                                    <a href="@childPage.Url" title="@childPageTitle - @siteDefaultName">
                                                                        @childPageTitle
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                    }
                                                }
                                            }

                                            @*<li>
                                                    <a href="#">About Us </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">
                                                        Our Services <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Home Entertainement</a></li>
                                                        <li><a href="#">Office Networks</a></li>
                                                        <li><a href="#">Security & CCTV</a></li>
                                                        <li><a href="#">Data & NBN Cabling</a></li>
                                                        <li><a href="#">Audio Visual Installation</a></li>
                                                        <li><a href="#">Solar Power Systems</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#contact">Contact Us</a>
                                                </li>*@
                                        </ul>
                                    </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </header>
        }
}