@inherits UmbracoTemplatePage
@{
    var siteDefaultName = "JMN Communications ";
    var siteSetting = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "GlobalSettings");
    var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "HomePage");
    if (homePage != null && homePage.Id > 0)
        {
        var contactPage = homePage.Descendants("contact").FirstOrDefault();
        if (contactPage != null && contactPage.Id > 0)
            {
            var contactTitle = contactPage.Name;
            if (contactPage.HasProperty("linkTittle") && contactPage.HasValue("linkTittle"))
                {
                contactTitle = contactPage.GetPropertyValue("linkTittle").ToString();
                }
            var contactHeading = contactPage.Name;
            if (contactPage.HasProperty("pageHeading") && contactPage.HasValue("pageHeading"))
                {
                contactHeading = contactPage.GetPropertyValue("pageHeading").ToString();
                }
            <section id="contact" class="segment contactArea intro-wrap">
                @if (Model.Content.ContentType.Alias != "contact")
                    {
                    <div class="container contactInfo">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="heading-section">
                                    <div class="main-heading">
                                        <span>@contactTitle</span>
                                    </div>
                                    <div class="sub-heading">
                                        <h3 class="sub-title">
                                            @contactHeading
                                        </h3>
                                        @if (contactPage.HasProperty("bodyText") && contactPage.HasValue("bodyText"))
                                            {
                                            @Html.Raw(contactPage.GetPropertyValue<string>("bodyText"))
                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                @if (siteSetting != null && siteSetting.Id > 0 && siteSetting.Descendants("SiteDetails").Any())
                    {
                    var siteDetailsPage = siteSetting.Descendants("SiteDetails").FirstOrDefault();
                    if (siteDetailsPage != null && siteDetailsPage.Id > 0)
                        {
                        if (siteDetailsPage.HasProperty("siteName") && siteDetailsPage.HasValue("siteName"))
                            {
                            siteDefaultName = siteDetailsPage.GetPropertyValue("siteName").ToString();
                            }
                        <div class="contct-info parallax">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 hidden-sm hidden-xs">
                                        <div class="row">
                                            @if (siteDetailsPage.HasProperty("siteAddress") && siteDetailsPage.HasValue("siteAddress"))
                                                {
                                                var siteAddressList = siteDetailsPage.GetPropertyValue<string[]>("siteAddress");
                                                if (siteAddressList != null && siteAddressList.Any())
                                                    {
                                                    <div class="col-md-6">
                                                        <div class="contct-detail">
                                                            <h3>
                                                                <i class="fa fa-map-marker"></i>
                                                            </h3>
                                                            <p>
                                                                @foreach (var addressLine in siteAddressList)
                                                                    {
                                                                    @addressLine
                                                                    <br />
                                                                    }
                                                            </p>
                                                        </div>
                                                    </div>
                                                    }
                                                }

                                            @if (siteDetailsPage.HasProperty("sitePhoneNumbers") && siteDetailsPage.HasValue("sitePhoneNumbers"))
                                                {
                                                var sitePhoneNumbersList = siteDetailsPage.GetPropertyValue<string[]>("sitePhoneNumbers");
                                                if (sitePhoneNumbersList != null && sitePhoneNumbersList.Any())
                                                    {
                                                    <div class="col-md-6">
                                                        <div class="contct-detail">
                                                            <h3>
                                                                <i class="fa fa-phone"></i>
                                                            </h3>
                                                            <p>
                                                                @foreach (var phoneNumber in sitePhoneNumbersList)
                                                                    {
                                                                    @phoneNumber
                                                                    <br />
                                                                    }
                                                                @if (siteDetailsPage.HasProperty("siteEmailAddress") && siteDetailsPage.HasValue("siteEmailAddress"))
                                                                    {
                                                                    var siteEmailAddress = siteDetailsPage.GetPropertyValue("siteEmailAddress").ToString();
                                                                    <a href="mailto:@siteEmailAddress" title="@siteDefaultName">
                                                                        @siteEmailAddress
                                                                    </a>
                                                                    }
                                                            </p>
                                                        </div>
                                                    </div>
                                                    }
                                                }
                                        </div>
                                        <div class="row">
                                            @if (siteDetailsPage.HasProperty("siteOpeningTimes") && siteDetailsPage.HasValue("siteOpeningTimes"))
                                                {
                                                var siteOpeningTimesList = siteDetailsPage.GetPropertyValue<string[]>("siteOpeningTimes");
                                                if (siteOpeningTimesList != null && siteOpeningTimesList.Any())
                                                    {
                                                    <div class="col-md-6">
                                                        <div class="contct-detail">
                                                            <h3>
                                                                <i class="fa fa-clock-o"></i>
                                                            </h3>
                                                            <p>
                                                                @foreach (var openingTime in siteOpeningTimesList)
                                                                    {
                                                                    @openingTime
                                                                    <br />
                                                                    }
                                                            </p>
                                                        </div>
                                                    </div>
                                                    }
                                                }

                                            @if (siteDetailsPage.HasProperty("facebookPage") && siteDetailsPage.HasValue("facebookPage"))
                                                {
                                                var siteFacebookPage = siteDetailsPage.GetPropertyValue("facebookPage").ToString();
                                                <div class="col-md-6">
                                                    <div class="contct-detail">
                                                        <h3>
                                                            <i class="fa fa-facebook"></i>
                                                        </h3>
                                                        <p>
                                                            Follow us on Facebook<br>
                                                            <a href="@siteFacebookPage" target="_blank">
                                                                JMN Communications
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                                }
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="row">
                                            @Html.Action("GetContactForm", "ContactSurface")
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        }
                    }

            </section>
            }
        }
}